body {
  background-color: #eaeaea;
}
body a {
  color: #000000;
}
.d-ab-nav {
  position: fixed;
  top: 100px;
  background-color: #fff;
  height: 50px;
  width: 100%;
  z-index: 2;
  border-top: 1px solid #ddd;
  overflow: hidden;
}
.d-ab-nav ul:after {
  content: "";
  display: block;
  clear: both;
}
.d-ab-nav ul {
  width: 736px;
}
.d-ab-nav ul li {
  margin-right: 60px;
  line-height: 47px;
  padding-top: 4px;
}
.d-ab-nav ul li a {
  display: inline-block;
  height: 45px;
  color: #777;
  font-weight: bold;
  border-bottom: 3px solid white;
  transition-duration: 0.8s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}
.d-ab-nav ul li a.d-hover {
  text-decoration: none;
  border-bottom: 3px solid black;
}
.d-ab-nav ul li a:hover {
  text-decoration: none;
  border-bottom: 3px solid black;
}
@keyframes d-slide {
  0% {
    top: -10px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 50px;
  }
}
body a:hover {
  text-decoration: none;
}
.ymain {
  width: 100%;
  margin-top: 190px;
}
.ymain .ybanner .bgimg {
  width: 100%;
  margin: -41px 0 0;
}
.ymain .ybanner .yup {
  color: #ffffff;
  position: absolute;
  margin-top: -400px;
  left: 6%;
}
.ymain .ybanner .yup h3 {
  font-size: 42px;
  opacity: 0;
  transition: 1s;
}
.ymain .ybanner .yup .s-tit {
  line-height: 40px;
  font-size: 26px;
  margin-top: 8px;
  color: #ffffff;
  padding-top: 25px;
}
.ymain .ybanner .yup .yline {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  opacity: 0;
  transition: 2s;
}
.ymain .ybanner .yup span.font {
  font-size: 26px;
  opacity: 0;
  transition: 1s;
}
.ymain .ybanner .yup .down-ico {
  display: block;
  width: 43px;
  height: 46px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  margin-top: 40px;
  opacity: 0;
  transition: 1s;
  background: url("../../image/y/webImg/ico_16.png") no-repeat center;

}
@keyframes downico {
  from {
    top: -20px;
  }
  to {
    top: 10px;
  }
}
.ymain .ybanner .yup .linkbox {
  opacity: 0;
}
.ymain .ybanner .yup .linkbox a {
  transition: all 0.3s ease 0s;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin-right: 30px;
  padding: 10px;
}
.ymain .ybanner .yup .linkbox a:hover {
  background: #ffffff;
  color: #000000;
}
.ymain .ycontent {
  background-color: #ffffff;
}
.ymain .ycontent .yres {
  padding-top: 60px;
}
.ymain .ycontent p {
  width: 100px;
  height: 20px;
  margin-top: 10px;
}
.ymain .ynav {
  padding-top: 30px;
  padding-bottom: 30px;
}
.ymain .ynav li {
  margin-right: 40px;
}
.ymain .ynav li a {
  color: #0f0f0f;
}
.ymain .ynav li a:hover {
  text-decoration: none;
}
.ymain .ynav li.yactive {
  border-bottom: 1px solid black;
}
.ymain .upic {
  width: 100%;
}
.ymain .upic img {
  transition: 1s;
  z-index: 1;
}
.ymain .upic p.item {
  position: relative;
  top: -135px;
  left: 124px;
  color: #ffffff;
  font-weight: bold;
  opacity: 0;
  transition: 1s;
}
.ymain .upic img:hover {
  transform: scale(1.05, 1.05);
  overflow: hidden;
}
.ymain .upic .ycont {
  padding: 22px 6.5% 0;
  border: 1px solid #f2f2f2;
}
.ymain .upic .ycont .ytit {
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  position: relative;
  width: 100%;
}
.ymain .upic .ycont .ypoint {
  display: inline-block;
  width: 100%;
  color: #777777;
  border-top: 1px solid #e5e5e5;
  margin-top: 30px;
  transition: color 0.3s ease 0s;
}
.ymain .upic .ycont .ypoint span:first-child {
  font-size: 14px;
}
.ymain .upic .ycont .ypoint:hover {
  color: #333;
}
.ymain .upic .ycont .ypointer {
  display: block;
  width: 24px;
  height: 36px;
  background: url("../../image/y/webImg/ico_08.png") no-repeat center;
}
.ymain .upic .ycont .ypointer:hover {
  background: url("../../image/y/webImg/ico_08_h.png") no-repeat center;
}
.ymain .upic .ycont .ylab-font {
  color: #777777;
  font-size: 12px;
  line-height: 24px;
  min-height: 24px;
}
.row {
  margin-top: 10px;
}
.load {
  width: 180px;
  height: 60px;
  line-height: 60px;
  color: #999999;
  font-size: 16px;
  background: #eeeeee;
  margin: 100px auto;
  cursor: pointer;
  font-family: "Base-font";
  transition: all 0.4s ease 0s;
}
.load:hover {
  color: #ffffff;
  background-color: black;
}
